[submodule "spdlog"]
	path = Lifengine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "glfw"]
	path = Lifengine/vendor/GLFW
	url = https://github.com/SAURABH2000b/glfw
	branch = latest
