[submodule "lifengine/vendor/spdlog"]
	path = lifengine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "glfw"]
	path = lifengine/vendor/GLFW
	url = https://github.com/SAURABH2000b/glfw
	branch = latest
